main > p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  border: 1px solid gainsboro;
}
